<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="/coffeeShops">Browse Coffee Shops</a>
            </li>
            <li>
                <a href="/coffeeShops/new">Add New Coffee Shop</a>
            </li>
        </ul>
</header>
<body>
    <h1> Log your Local Coffee Shop</h1>
    <img src="https://www.datocms-assets.com/20941/1663765103-best-coffee-drinks.png?auto=compress&dpr=1&fm=jpg&w=850" alt="A cup of coffee">
</body>
</html>