<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/coffeeShops"> Browse Coffee Shops </a>
                </li>
                <li>
                    <a href="/"> Homepage </a>
                </li>
            </ul>
    </header>
    <h1>Create a coffee shop spot!</h1>
    <form id="coffee-shop-form" action="/coffeeShops" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />

        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image" required />
        <img id="image-preview" alt="Preview will appear here">

        <label for="location">Address:</label>
        <input type="text" name="location" id="location" required />

        <label for="description">Description:</label>
        <textarea name="description" id="description" maxlength="500"></textarea>

        <label for="goodForStudying">Is this a good place to study?</label>
        <input type="checkbox" name="goodForStudying" id="goodForStudying" />
        <p> Please click the box above for yes, or leave it unchecked for no</p>

        <button type="submit" id="submit-btn">Add Coffee Shop</button>
    </form>
</body>
</html>